
data/airbnb-listings-in-major-us-cities-deloitte-ml.zip
data/application_test.csv
data/application_train.csv
data/example.pkl
data/imagenet_urls_examples.txt
data/sample_submission.csv
homework/.ipynb_checkpoints/Day_001_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_002_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003-1_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_003_HW-checkpoint.ipynb
homework/Day_003-1_HW.ipynb
data/HomeCredit_columns_description.csv
homework/.ipynb_checkpoints/Day_004_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_005_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_006_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_007_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_008_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_010_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_009_correlation_example-checkpoint.ipynb
homework/Day_009_correlation_example.ipynb
homework/.ipynb_checkpoints/Day_011_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_012_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_013_HW-checkpoint.ipynb
homework/.ipynb_checkpoints/Day_016_HW-checkpoint.ipynb
homework/titanic_baseline.csv
data/titanic_test.csv
data/titanic_train.csv
*checkpoint.ipynb
homework/Day_015_EDA_heatmap.ipynb
data/house_test.csv.gz
data/house_train.csv.gz
data/taxi_data1.csv
data/taxi_data2.csv
